@import url(./css/reset.css);

:root {
  --container-width: 1440px;
  --btn__background: rgba(249, 249, 249, 0.15);
  --btn__padding: 16px 32px 16px 32px;
  --container-width: 1440px;
  --container-padding: 15px;
}
.container {
  max-width: var(--container-width);
  margin: 0 auto;
}
.container-right {
  padding-left: calc(
    (100% - var(--container-width)) / 2 + var(--container-padding)
  );
}

/* header */
header {
  height: 132px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 19.5px;
}
.nav__search {
  padding-top: 26px;
  padding-left: 28px;
}
.nav__logo p {
  color: rgb(34, 32, 46);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  padding-top: 20px;
}
.nav__icons {
  padding-top: 26px;
  padding-right: 28px;
}
.nav__icons img:first-child {
  padding-right: 16px;
}
.nav__line {
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 1386px;
  height: 0;
  left: 28px;
  top: 69.5px;
}
.nav__list {
  display: flex;
  column-gap: 44px;
  padding-top: 20.5px;
  /* padding: 45px 382px 20px 383px; */
  justify-content: center;
}
.nav__list a {
  color: rgb(114, 110, 141);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
}
.all__products-title p {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 400;
  height: 209px;
  padding-left: 80px;
  padding-top: 123px;
}
.all_products-background {
  background: url(../img/products/Page\ Headers.png);
}

.nav__toggle {
  display: none;
}
/* avion__desc   */

.avion__desc {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 120px;
}
.avion__desc__row {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;

  background: rgb(42, 37, 75);
}

.avion__desc__content {
  padding: 50px;
  display: flex;
  flex-direction: column;
}
.avion__desc__title {
  /* Headings / H2 */
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  max-width: 513px;
  padding-bottom: 41px;
}
.avion__desc__btn {
  flex-grow: 1;
  /* Body/Medium */
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  padding-bottom: 167px;
}
.avion__desc__btn button {
  background: rgba(249, 249, 249, 0.15);
  padding: 16px 32px;
}
.avion__desc__btn a {
  color: white;
}

/* filters */

/* .filters__content {
  display: flex;
  flex-direction: column;
} */

.filters {
  /* max-width: 385px; */
  margin: 48px 80px;
}
.filters__row {
  display: flex;
}

.filter__product {
  display: flex;
  flex-direction: column;
  padding-bottom: 48px;
  font-family: Montserrat;
  .product__title {
    font-family: Montserrat;
    color: rgb(42, 37, 75);
    padding-bottom: 20px;
  }
}
.filters-items {
  max-width: 385px;
  padding-left: 80px;
  padding-right: 149px;
  font-size: 16px;
}
.filter__product label {
  padding-bottom: 12px;
  max-width: 156px;
}
.filter__price {
  display: flex;
  flex-direction: column;
  padding-bottom: 48px;
  font-family: Montserrat;
  .price__title {
    font-family: Montserrat;
    color: rgb(42, 37, 75);
    padding-bottom: 20px;
  }
}
.filter__price label {
  padding-bottom: 12px;
}
.filter__designer {
  display: flex;
  flex-direction: column;
  padding-bottom: 48px;
  font-family: Montserrat;
  .designer__title {
    font-family: Montserrat;
    color: rgb(42, 37, 75);
    padding-bottom: 20px;
  }
}
.filter__designer label {
  padding-bottom: 12px;
}
.avion__desc__text {
  /* Body / Large */
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  max-width: 602px;
}
.all__products-cards {
  padding-left: 20px;
}
.ceramics__card-filters {
  display: flex;
  column-gap: 20px;
  flex-wrap: wrap;
}
.card-filters {
  max-width: 305px;
}

.card-filters h4 {
  color: rgb(42, 37, 75);
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
  padding-top: 24px;
}
.card-filters p {
  color: rgb(42, 37, 75);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  padding-top: 8px;
}

/* diff */

.diff__content {
  margin-left: 86px;
}
.diff__title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(42, 37, 75);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  padding-bottom: 51px;
}
.diff__cart {
  display: flex;
  justify-content: space-between;
}
.diff__cart img {
  padding-bottom: 16px;
}
.diff__cart p {
  padding-top: 8px;
  max-width: 270px;
  color: rgb(42, 37, 75);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
}
.diff__cart h4 {
  color: rgb(42, 37, 75);
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
}

/* Ceramics */

.ceramics__content {
  margin-top: 160px;
  margin-left: 80px;
}
.ceramics__title {
  color: rgb(42, 37, 75);
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 400;
  line-height: 39px;
  margin-bottom: 33px;
}
.ceramics__card {
  display: flex;
  column-gap: 20px;
}
.card h4 {
  color: rgb(42, 37, 75);
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
  padding-top: 24px;
}
.card p {
  color: rgb(42, 37, 75);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  padding-top: 8px;
}
.ceramics__btn {
  display: flex;
  justify-content: center;
  color: rgb(42, 37, 75);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  padding-top: 35px;
}
.ceramics__btn button {
  background: rgb(249, 249, 249);
  padding: 16px 32px;
}

/* Products */

.products__content {
  margin-top: 120px;
  margin-left: 80px;
}
.products__title {
  color: rgb(42, 37, 75);
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 400;
  line-height: 140%;
  padding-bottom: 25px;
}
.products__card {
  display: flex;
  column-gap: 20px;
}
.prod__card h4 {
  color: rgb(42, 37, 75);
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
  padding-top: 24px;
}
.prod__card p {
  color: rgb(42, 37, 75);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  padding-top: 8px;
}
/* form */
.form {
  background: rgb(249, 249, 249);
  margin-top: 48px;
  padding-top: 52px;
  padding-bottom: 62px;
}
.contentishe {
  padding-top: 52px;
  padding-bottom: 62px;
  background: rgb(255, 255, 255);
}
.form__title {
  display: flex;
  justify-content: center;

  color: rgb(42, 37, 75);
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 400;
  line-height: 140%;
}
.form__subtitle {
  display: flex;
  justify-content: center;
  padding-top: 16px;
}
.form__subtitle p {
  color: rgb(42, 37, 75);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  max-width: 470px;
  text-align: center;
}
.form__advantage {
  margin: 0 auto;

  width: 100%;
}
.form__input {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  width: 100%;
  padding-top: 72px;
}
.form__input input {
  display: flex;
  flex-grow: 1;
  max-width: 400px;
  width: 100%;
  padding: 17px 32px 17px 32px;
  background: rgb(249, 249, 249);
  font-family: Montserrat;
}
.form__input input::placeholder {
  color: rgb(42, 37, 75);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
.form__input button {
  background: rgb(42, 37, 75);
  padding: 16px 32px 16px 32px;
  color: white;
  /* Body/Medium */

  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
/* features */
.features {
  padding-top: 137px;
}
.features__row {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}

.features__content {
  padding-left: 84px;
}
.features__title {
  color: rgb(42, 37, 75);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 140%;
  max-width: 514px;
  padding-bottom: 25px;
}
.features__subtitle {
  color: rgb(80, 89, 119);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  max-width: 536px;
  padding-bottom: 196px;
}
.features__btn button {
  font-family: Montserrat;
  background: rgb(249, 249, 249);
  padding: var(--btn__padding);
}

/* footer */
.footer {
  margin-top: 112px;
  background: rgb(42, 37, 75);
  padding-left: 80px;
  padding-right: 80px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  padding-top: 58px;
  padding-bottom: 47.5px;
  border-bottom: 1px solid rgb(78, 77, 147);
}
.menu__list a,
li {
  color: white;
  padding-bottom: 12px;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}
.menu__list span {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.categories__list a,
li {
  color: white;
  padding-bottom: 12px;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}
.categories__list span {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.our__company a,
li {
  color: white;
  padding-bottom: 12px;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}
.our__company span {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.contact__form {
  max-width: 627px;
  width: 100%;
}
.footer__title {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding-bottom: 16px;
}
.footer__input {
  display: flex;
  flex-grow: 1;
  width: 100%;
}
.footer__input input {
  display: flex;
  flex-grow: 1;
  padding: 20px 32px 20px 32px;
  background: rgba(255, 255, 255, 0.15);
  color: white;
  font-family: Montserrat;
  width: 100%;
}
.footer__input ::placeholder {
  color: white;
  font-family: Montserrat;
}

.footer__input button {
  background: rgb(255, 255, 255);
  color: rgb(42, 37, 75);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  padding: 16px 32px 16px 32px;
}
.final__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 28px;
}
.footer__copyright {
  padding-top: 76px;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}
.footer__social_networks {
  padding-top: 76px;
}
.footer__social_networks img {
  padding-right: 24px;
}

.menu-icon-wrapper {
  --time: 0.1s;
  --width: 25px;
  --height: 30px;
  --line-height: 3px;
  --color: #2a254b;

  height: var(--height);
  width: var(--width);
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
}

.menu-icon::before,
.menu-icon::after {
  content: "";
  display: block;

  position: absolute;
  left: 0;

  width: var(--width);
  height: var(--line-height);

  background-color: var(--color);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
}

.menu-icon::before {
  top: calc(var(--line-height) * -2);
}

.menu-icon::after {
  top: calc(var(--line-height) * 2);
}

.menu-icon.menu-icon--active {
  background-color: transparent;
}

.menu-icon.menu-icon--active::before,
.menu-icon.menu-icon--active::after {
  top: 0;
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
}

.menu-icon.menu-icon--active::before {
  transform: rotate(45deg);
}

.menu-icon.menu-icon--active::after {
  transform: rotate(-45deg);
}
.nav__toggle-mobile {
  display: none;
}
.adaptive__buttons {
  display: none;
}
.cross {
  display: none;
}
.sorting__row {
  /* display: flex;
  flex-direction: column; */
  display: none;
}
.sorting__title {
  font-family: Montserrat;
}
.sorting__row label {
  font-family: Montserrat;
}

@media (max-width: 10000px) {
  .features__row {
    justify-content: unset;
    column-gap: 150px;
  }
}
@media (max-width: 1633px) {
  .features__row {
    justify-content: space-between;
    column-gap: 20px;
  }
}

@media (max-width: 1345px) {
  .nav__logo p {
    font-size: 22px;
  }
  .nav__list a {
    font-size: 14px;
  }
  .avion__desc__title {
    font-size: 30px;
  }
  .avion__desc__btn button {
    padding: 14px 23px;
  }
  .avion__desc__text {
    font-size: 16px;
  }
  .avion__desc__row {
    column-gap: 0px;
  }
  .diff__title {
    font-size: 20px;
  }
  .diff__cart h4 {
    font-size: 18px;
  }
  .diff__cart p {
    font-size: 13px;
  }
  .ceramics__title {
    font-size: 26px;
    margin-bottom: 20px;
  }
  .card h4 {
    font-size: 18px;
    padding-top: 20px;
  }
  .products__title {
    font-size: 26px;
  }
  .prod__card h4 {
    font-size: 18px;
  }
  .form__title {
    font-size: 28px;
  }
  .form__subtitle p {
    font-size: 14px;
  }
  .form__input {
    padding-top: 30px;
  }
  .form__input input {
    padding: 20px 175px 15px 17px;
  }
  .form__input input::placeholder {
    font-size: 14px;
  }
  .form__input button {
    padding: 13px 25px 13px 25px;
    font-size: 14px;
  }
  .features__title {
    font-size: 20px;
    min-width: 412px;
  }
  .features__subtitle {
    font-size: 14px;
    max-width: 500px;
  }
  .features__img img {
    max-width: 600px;
  }
  .features__btn button {
    font-size: 14px;
    padding: 13px 25px 13px 25px;
  }
  .menu__list span {
    font-size: 14px;
  }
  .menu__list a {
    font-size: 11px;
  }
  .categories__list span {
    font-size: 14px;
  }
  .categories__list a,
  li {
    font-size: 11px;
  }
  .our__company span {
    font-size: 14px;
  }
  .our__company a,
  li {
    font-size: 11px;
  }
  .footer__title {
    font-size: 14px;
  }
  .footer__input input {
    padding: 15px 130px 15px 22px;
  }
  .footer__input button {
    padding: 15px 32px 13px 32px;
  }
}
@media (max-width: 1224px) {
  .avion__desc__title {
    font-size: 25px;
  }
  .avion__desc__text {
    font-size: 15px;
  }
  .avion__desc__btn {
    padding-bottom: 103px;
  }
  .avion__desc__btn a {
    font-size: 13px;
  }
  .avion__desc__img img {
    max-width: 420px;
  }
}
@media (max-width: 1121px) {
  .avion__desc__row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .avion__desc__content {
    display: flex;
    align-items: center;
  }
  .avion__desc__title {
    text-align: center;
  }
  .avion__desc__text {
    text-align: center;
  }
  .avion__desc__btn {
    padding-bottom: 50px;
  }
  .avion__desc__img img {
    max-width: 420px;
  }
}
@media (max-width: 1180px) {
  .diff__cart h4 {
    font-size: 16px;
  }
  .diff__cart p {
    font-size: 12px;
  }
  .cart {
    max-width: 250px;
  }
  .features__img img {
    max-width: 500px;
  }
  .features__subtitle {
    padding-bottom: 109px;
  }
  .features {
    padding-top: 75px;
  }
}
@media (max-width: 1080px) {
  .avion__desc__text {
    font-size: 14px;
  }
  .cart {
    max-width: 235px;
  }
  .ceramics__title {
    font-size: 24px;
  }
  .ceramics__btn button {
    padding: 12px 20px;
  }
  .products__title {
    font-size: 24px;
  }
  .features__img img {
    max-width: 450px;
  }
  .features__title {
    font-size: 18px;
    max-width: 470px;
  }
  .features__subtitle {
    font-size: 13px;
    max-width: 440px;
  }
  .menu__list {
    max-width: 140px;
  }
  .categories__list {
    max-width: 120px;
  }
  .footer__input input {
    padding: 15px 60px 15px 22px;
  }
  .footer__input button {
    padding: 12px 5px 12px 7px;
  }
  .footer__content {
    padding-bottom: 30px;
  }
  .footer__copyright {
    padding-top: 45px;
  }
  .footer__social_networks {
    padding-top: 33px;
  }
}
@media (max-width: 972px) {
  .nav__logo p {
    font-size: 18px;
  }
  .nav__list a {
    font-size: 12px;
  }
  .avion__desc__title {
    font-size: 24px;
  }
  .avion__desc__btn button {
    padding: 9px 15px;
  }
  .avion__desc__btn a {
    font-size: 12px;
  }
  .avion__desc__text {
    font-size: 12px;
    max-width: 440px;
  }
  .avion__desc__img img {
    max-width: 360px;
  }
  .avion__desc__btn {
    flex-grow: 0;
    padding-bottom: 50px;
  }
  .cart {
    max-width: 200px;
  }
  .prod__card h4 {
    font-size: 15px;
    padding-top: 15px;
  }
  .card h4 {
    font-size: 15px;
    padding-top: 15px;
  }
  .card p {
    font-size: 15px;
  }
  .ceramics__btn button {
    padding: 9px 12px;
    font-size: 14px;
  }
  .prod__card p {
    font-size: 15px;
  }
  .form__title {
    font-size: 24px;
  }
  .form__subtitle p {
    font-size: 12px;
  }
  .form__input input {
    padding: 12px 119px 11px 10px;
  }
  .form__input button {
    font-size: 12px;
    padding: 10px 15px 10px 15px;
  }
  .features__img img {
    max-width: 420px;
  }
  .features__subtitle {
    padding-bottom: 55px;
  }
  .footer__input input::placeholder {
    font-size: 12px;
  }
  .footer__input button {
    font-size: 12px;
    padding: 16px 4px 14px 4px;
  }
  .footer {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (max-width: 942px) {
  .nav__list {
    column-gap: 30px;
  }
  .diff__cart {
    display: flex;
    flex-wrap: wrap;
  }
  .cart {
    padding-bottom: 40px;
  }
  .diff__title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ceramics__content {
    margin-top: 85px;
  }
  .ceramics__title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ceramics__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .card img {
    max-width: 240px;
  }
  .card {
    padding-bottom: 10px;
  }
  .ceramics__btn {
    padding-bottom: 40px;
  }
  .products__title {
    display: flex;
    justify-content: center;
  }
  .products__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .prod__card {
    padding-bottom: 10px;
  }
  .features__content {
    flex-wrap: wrap;
    padding-left: 0px;
  }
  .features__row {
    flex-wrap: wrap;
    justify-content: center;
  }
  .features__title {
    text-align: center;
  }
  .features__subtitle {
    text-align: center;
  }
  .features__btn {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
  }
  .features__img {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 738px) {
  header {
    height: auto;
  }
  .avion__desc {
    margin-top: 0;
  }
  .nav {
    display: flex;
    justify-content: unset;
  }
  .nav__search {
    display: none;
  }
  .nav__logo {
    padding-left: 24px;
    flex-grow: 1;
  }
  .nav__icons {
    display: none;
  }
  .nav__toggle-mobile {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-right: 15px;
  }
  .nav__toggle-mobile img {
    padding-right: 20px;
  }
  .nav {
    border: none;
  }
  .nav__list {
    display: none;
  }
  .nav__toggle {
    display: block;
    order: 2;
  }
  .nav--mobile {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    flex-direction: column;

    background-color: azure;
  }
  .nav--mobile .nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
  }

  .nav--mobile .nav__list {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
  }
  .nav--mobile .nav__icons {
    display: block;
    position: fixed;
    left: 28px;
    top: 11px;
  }
  .nav--mobile .nav__toggle-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .nav--mobile .nav__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    padding-top: 11px;
  }
  .nav--mobile .nav__list a {
    font-size: 18px;
  }
  .nav--mobile .nav__list li {
    padding-bottom: 20px;
  }
  .nav--mobile .nav__logo p {
    font-size: 24px;
  }
  .nav--mobile .nav__toggle {
    position: fixed;
    top: 30px;
    right: 30px;
  }
  .nav--mobile .nav__toggle-mobile img {
    display: none;
  }
}
@media (max-width: 580px) {
  .final__footer {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }
  .footer__copyright {
    padding-top: 20px;
  }
  .footer__social_networks {
    display: none;
  }
  .diff__content {
    margin-left: 5px;
  }
  .ceramics__content {
    margin-left: 5px;
  }
  .features__title {
    min-width: auto;
  }
  .products__content {
    margin-left: 5px;
  }
  .footer {
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 0;
  }
  .form__title {
    text-align: center;
  }
}
@media (max-width: 421px) {
  .container-right {
    max-width: var(--container-width);
    margin: 0 auto;
    padding-left: 0;
  }
  .form__input input {
    padding: 12px 25px 11px 10px;
  }
  .footer__input input {
    padding: 15px 20px 15px 22px;
  }
  .features__img img {
    max-width: 320px;
  }
  .avion__desc__img img {
    max-width: 320px;
  }
}
@media (max-width: 1150px) {
  .card-filters img {
    max-width: 260px;
  }
  .card-filters {
    padding-bottom: 15px;
  }
}
@media (max-width: 1059px) {
  .filters {
    margin: 44px 32px;
  }
}
@media (max-width: 964px) {
  .filters {
    margin: 41px 10px;
  }
}
@media (max-width: 920px) {
  .filters {
    margin-top: 124px;
  }
  .adaptive__buttons {
    display: block;
    margin-top: 20px;
  }
  .buttons__row {
    display: flex;
    justify-content: center;
    column-gap: 20px;
  }
  .filter__btn {
    font-family: Montserrat;
    background: #f9f9f9;
    font-size: 16px;
    padding: 16px 50.5px;
    color: #2a254b;
  }
  .sorting__btn {
    font-family: Montserrat;
    background: #f9f9f9;
    font-size: 16px;
    padding: 16px 50.5px;
    color: #2a254b;
  }
  .filters--mobile {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    flex-direction: column;

    background-color: azure;
  }
  .filters-items {
    position: fixed;
    display: none;
    max-width: unset;
    padding-left: 350px;
    padding-top: 100px;
  }
  .filters--mobile .product__title {
    font-size: 20px;
  }
  .filters--mobile .filter__product {
    font-size: 18px;
  }
  .filters--mobile .filter__product label {
    max-width: unset;
  }
  .filters--mobile .filter__price {
    font-size: 18px;
  }
  .filters--mobile .price__title {
    font-size: 20px;
  }
  .filters--mobile .filter__designer {
    font-size: 18px;
  }
  .filters--mobile .designer__title {
    font-size: 20px;
  }
  .filters--mobile .cross {
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99;
  }
  .sorting--mobile {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    flex-direction: column;

    background-color: azure;
  }
  .sort {
    padding-left: 200px;
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .sorting__title {
    padding-bottom: 20px;
    font-size: 20px;
  }
  .sort label {
    font-size: 18px;
    padding-bottom: 10px;
  }
}
@media (max-width: 580px) {
  .card-filters img {
    max-width: 230px;
  }
  .all__products-title p {
    font-size: 29px;
  }
  .ceramics__card-filters {
    column-gap: 10px;
    justify-content: center;
  }
  .all__products-cards {
    padding-left: unset;
  }
  .sorting__btn {
    padding: 20px 30.5px;
  }
  .filter__btn {
    padding: 20px 30.5px;
  }
}
